<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <!--<link rel="stylesheet" href="css/styles.css" />-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
  </head>

  <body>
    <section class="section has-background-link" >
        <div class="container">
        <div id="carousel-demo" class="carousel pb-6" style="overflow: hidden">
          <div class="item-1">
            <div class="columns">
              <div class="column is-half">
                <h2 class="title is-1">Welcome to City Paws</h2>
                <p>
                  Discover local dog-friendly spots in the city to take your furry friend
                </p>
                <br />

                <div class="buttons is-left">
                  <button class="button is-medium is-orange button is-link is-light">
                  <a href="search">Find a Spot</a>
                  </button>
                  <button class="button is-medium is-black is-primary is-light">
                    <a href="signup">Sign Up</a>
                  </button>
                </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>