{{!-- <body>
  <section class="section has-background-link hero-body" >
    <img src="../images/hero2.jpg" style="width: 100vw;"> 
      <div class="container">
      <div id="carousel-demo" class="carousel pb-6" style="overflow: hidden">
        <div class="item-1">
          <div class="columns">
            <div class="column is-half">
              <h2 class="title is-1" style="color: seashell;">Welcome to City Paws</h2>
              <p class="paragraph" style="color:seashell">
                Discover local dog-friendly spots in the city to take your furry friend
              </p>
              <br/>

              <div class="buttons is-left">
                <button class="button is-medium is-orange button is-link is-light">
                <a href="search">Find a Spot</a>
                </button>
                <button class="button is-medium is-black is-primary is-light">
                  <a href="signup">Sign Up</a>
                </button>
              </div>
        </div>
      </div>
    </div>
  </section>
</body> --}}
<section class="hero is-info has-background is-medium">
  <img src="../images/hero2.jpg">
  <div class="hero-body">
    <div class="hero-head">
      <p class="title" style="color: seashell;">
        Welcome to City Paws
      </p>
      <p class="subtitle" style="color: seashell;">
        Discover local dog-friendly spots in the city to take your furry friend
      </p>
      <br/>
      <div class="buttons is-left">
                <button class="button is-medium is-orange button is-link is-light">
                <a href="search">Find a Spot</a>
                </button>
                <button class="button is-medium is-black is-primary is-light">
                  <a href="signup">Sign Up</a>
                </button>
    </div>
  </div>
</section>