<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



<section class="section">

<section> <div class="section">

  <h1 class="title">Find a Spot</h1>
  <h2 class="subtitle has-text-light">
    Refine your search to find the perfect spot for you and your furry family.
  </h2>
  <p class="subtitle has-text-light">Please select the type of place you wish to go to: </p>
  <div class="select is-rounded">
  <select id="type">
    <option><Section>Select</Section></option>
    <option value="Cafe">Cafe</option>
    <option value="Park">Park</option>
    <option value="Retail">Retail</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Bar">Bar</option>
  </select>
  
</div>
</div>
</section>

<div class="section">
  <h2 class="subtitle has-text-light">
    Search for a location using Postal Code
  </h2>

  <div class="control">
<input class="input is-rounded is-3" type="text" id="search" placeholder="Your Search">
</div>
<br>
  </select>

<section>
  <div id="map"></div>
</section>

<script>
  var map, infoWindow;

function createMap () {
    var options = {
        center: { lat: 43.653225, lng: -79.383186},
        zoom: 15,


    };
    // Get by Id
    map = new google.maps.Map(document.getElementById('map'), options);

    infoWindow = new google.maps.InfoWindow;

    // Start input
    var input = document.getElementById('search');
    var searchBox = new google.maps.places.SearchBox(input);
    // Listen for bounds changes
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    var markers = [];
    // Search box
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

    if (places.length === 0)
    return;
    
    markers.forEach(function (m) { m.setMap(null); });      
    markers = [];
// Bounds
    var bounds = new google.maps.LatLngBounds();

    places.forEach(function (p) {
      if (!p.geometry)
      return;

      markers.push(new google.maps.Marker({
        map: map,
        title: p.name,
        position: p.geometry.location
      }));

      if (p.geometry.viewport)
      bounds.union(p.geometry.viewport);
      else
      bounds.extend(p.geometry.location);
    });

    map.fitBounds(bounds);
});

}   
</script>


  <input class="input is-rounded is-3" type="text" id="location" placeholder="Your Search">
  <button class="button is-rounded is-4 searchMargin" id="SearchBtn">Search</button>
</div>


<section class="section">
  <h1 class="title">Search Results</h1>
  <h2 class="subtitle searchMargin has-text-white-ter is-size-5" id="description">
      Description of the location searched.
  </h2>
</section>

<section class="section reviews">
<form class="comment-form">
  <div>
    <h1 class="title">Add Reviews</h1>
    <textarea class="input is-medium" type="text" placeholder="Reviews" name="comment-body" id="comment-text"></textarea>
  </div>

  <div>
    <button class="button is-rounded is-4 addCommentBtn searchMargin" type="submit">+ Review</button>
  </div>
</form>

<br>
<div>
  
  <div class="comments subtitle has-text-black">

  </div>
</div>

</section>



<script>

  $("#SearchBtn").click(function () {
      $.ajax({
        url: "/api/services/search?type="+$("#type").val()+"&location="+$("#location").val(), success: function (result) {
       console.log(result)
       result.forEach(function(res){
         $("#description").html("<p><b>" + res.service.name + "</p><br>"+"<p>"+res.service.description+"</p><br>"+ "<p>" + res.service.address + "</p><br>")
       });
       
       let resLength = result[0].comments.length;

        for (i = 0; i < resLength; i++){
        console.log("hii twice", result[0].comments[i]);
        $(".comments").append("<div>" + result[0].comments[i].comment + "</div>"+"<div>"+"posted by"+" user "+result[0].comments[i].postedBy+"</div><br>");
        }

        console.log("service id:", result[0].service.id)

        const serviceid = result[0].service.id;

        async function commentFormHandler(event) {
        event.preventDefault();

        const comment = document.querySelector('textarea[name="comment-body"]').value.trim();
        
        if (comment) {
          const response = await fetch('/api/reviews/add', {
            method: 'POST',
            body: JSON.stringify({
              serviceid,
              comment
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          });

          console.log(response, "comment content", comment);

          if (!response.ok) {
            alert(response.statusText);
          } else {
            $.ajax({
            url: "/api/services/search?type="+$("#type").val()+"&location="+$("#location").val(), success: function (result) {
                       
            let resLength = result[0].comments.length;
            $(".comments").empty();
            $("#comment-text").val("");
            for (i = 0; i < resLength; i++){
            console.log("hii twice", result[0].comments[i]);
            $(".comments").append("<div>" + result[0].comments[i].comment + "</div>"+"<div>"+"posted by"+" user "+result[0].comments[i].postedBy+"</div><br>");
            }
          }
          })
          }
        }
      }

      document.querySelector('.comment-form').addEventListener('submit', commentFormHandler);
       }
      }) 
      })
 </script>
  
  
  <script 
    src="https://maps.googleapis.com/maps/api/js?callback=createMap&libraries=places&key=AIzaSyB6sjOjm9eINjpI4uPW_vcdX4isIxsfaZY" async defer></script> 
  
