<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
  


<section class="section">
  <h1 class="title">Find a Spot</h1>
  <h2 class="subtitle">
    Refine your search to find the perfect spot for you and your furry family.
  </h2>
<p>Please select the type of place you wish to go to: </p>
  <div class="select is-rounded">
  <select id="type">
    <option><Section>Select</Section></option>
    <option value="Cafe">Cafe</option>
    <option value="Park">Park</option>
    <option value="Retail">Retail</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Bar">Bar</option>
  </select>
  
</div>
</section>

<br>

<section class="section">

  <h2 class="subtitle">
    Search for a location using Postal code
  </h2>
<input class="input is-rounded is-3" type="text" id="location" placeholder="Your Search">
<br>
<button class="button is-rounded is-4" id="SearchBtn">Search</button>
  </select>
</div>

</section>

<body>
<section>
<div class="container">
<div id="formatted-address"></div>
<div id="address-components"></div>
</div>
</section>

  <script>
    geocode();
    
    function geocode(){
      var location = '634 Queen st Toronto CA';
      axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
        params:{
          address:location,
          key:'AIzaSyB6sjOjm9eINjpI4uPW_vcdX4isIxsfaZY'
        }
      })
      .then(function(response){

        // Log all response here
        console.log(response);
        var formattedAddress = response.data.results[0].formatted_address;
        var formattedAddressOutputs = `
        <ul class="list-group">
          <li class="list-group-item">${formattedAddress}</li>
        </ul>
        `;

        // Address components
        var addressComponents = response.data.results[0].address_components;
        var addressComponentsOutput = '<ul class="list-group">';
        for(var i = 0;i < addressComponents.length;i++){
          addressComponentsOutput += `
          <li 
          class="list-group-item"><strong>${addressComponents[i].types[0]
        }</strong>: ${addressComponents[i].long_name}</li>
        `;
      }
      addressComponentsOutput += '<lu>';

        // output to app
      document.getElementById('address-components').innerHTML = 
      addressComponentsOutput;
      document.getElementById('formatted-address').innerHTML = 
      formattedAddressOutput;
      })
      .catch(function(error) {
        console.log(error);
      });
    }
  
</script>


<section>
<div id="map"></div>
</section>
</body>

<section class="section">
  <h1 class="title">Search Results</h1>
  <h2 class="subtitle" id="description">
      Description of the location searched.
  </h2>
</section>

<section class="section reviews">
<form class="comment-form">
  <div>
    <textarea class="input is-medium" type="text" placeholder="Reviews" name="comment-body" id="comment-text"></textarea>
  </div>

  <div>
    <button class="button is-rounded is-4 addCommentBtn" type="submit">+ Review</button>
  </div>
</form>

<br>
<div>
  <h1 class="title">Reviews</h1>
  <div class="comments subtitle">

  </div>
</div>

</section>



<script>

  $("#SearchBtn").click(function () {
      $.ajax({
        url: "/api/services/search?type="+$("#type").val()+"&location="+$("#location").val(), success: function (result) {
       console.log(result)
       result.forEach(function(res){
         $("#description").html("<p>" + res.service.name + "</p><br>"+"<p>"+res.service.description+"</p><br>"+ "<p>" + res.service.address + "</p><br>")
       });
       
       let resLength = result[0].comments.length;

        for (i = 0; i < resLength; i++){
        console.log("hii twice", result[0].comments[i]);
        $(".comments").append("<div>" + result[0].comments[i].comment + "</div><br>"+"<div>"+"posted by"+" user "+result[0].comments[i].postedBy+"</div><br>");
        }

        console.log("service id:", result[0].service.id)

        const serviceid = result[0].service.id;

        async function commentFormHandler(event) {
        event.preventDefault();

        const comment = document.querySelector('textarea[name="comment-body"]').value.trim();
        
        if (comment) {
          const response = await fetch('/api/reviews/add', {
            method: 'POST',
            body: JSON.stringify({
              serviceid,
              comment
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          });

          console.log(response, "comment content", comment);

          if (!response.ok) {
            alert(response.statusText);
          } else {
            $.ajax({
            url: "/api/services/search?type="+$("#type").val()+"&location="+$("#location").val(), success: function (result) {
                       
            let resLength = result[0].comments.length;
            $(".comments").empty();
            $("#comment-text").val("");
            for (i = 0; i < resLength; i++){
            console.log("hii twice", result[0].comments[i]);
            $(".comments").append("<div>" + result[0].comments[i].comment + "</div><br>"+"<div>"+"posted by"+" user "+result[0].comments[i].postedBy+"</div><br>");
            }
          }
          })
          }
        }
      }

      document.querySelector('.comment-form').addEventListener('submit', commentFormHandler);
       }
      }) 
      })
 
  

</script>
</html>
