<section class="section">
  <h1 class="title has-text-centered" id="marginTop">Sign Up</h1>
  <div>
  <h2 class="subtitle has-text-light has-text-centered">
    Please insert your information to create your account profile.
  </h2>
  </div>
  </section>

<section class="section">
   <form class="signup-form">
         <div class="columns">
            <div class="column is-4 is-offset-4">
               <div class="field">
                  <label class="label has-text-light" for="firstName-signup">First Name</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="First Name" id="firstName-signup">
                  </div>
               </div>
               <div class="field">
                  <label class="label has-text-light" for="lastName-signup">Last Name</label>
                  <div class="control has-icons-left has-icons-right">
                     <input class="input is-success" type="text" placeholder="Last Name" value="" id="lastName-signup">
                     <span class="icon is-small is-left">
                     <i class="fa fa-user"></i>
                     </span>
                     <span class="icon is-small is-right">
                     <i class="fa fa-check"></i>
                     </span>
                  </div>
               </div>
               <div class="field">
                  <label class="label has-text-light" for="username-signup">Username</label>
                  <div class="control has-icons-left has-icons-right">
                     <input class="input is-success" type="text" placeholder="Username" value="" id="username-signup">
                  </div>
               </div>
               <div class="field">
                  <label class="label has-text-light" for="email-signup">Email</label>
                  <div class="control has-icons-left has-icons-right">
                     <input class="input is-danger" type="email" placeholder="Email input" value="@" id="email-signup">
                     <span class="icon is-small is-left">
                     <i class="fa fa-envelope"></i>
                     </span>
                     <span class="icon is-small is-right">
                     <i class="fa fa-warning"></i>
                     </span>
                  </div>
                  
               </div>
               <div class="field">
                  <label class="label has-text-light" for="password-signup">Password</label>
                  <div class="control">
                     <input class="input" type="password" placeholder="Password" id="password-signup">
                  </div>
               </div>
               <div class="field is-grouped">
                  <div class="control">
                     <button type="submit" class="button is-link">Submit</button>
                  </div>
               </div>
            </div>
         </div>
         </form>
      </section>

<script src="/javascript/signup.js"></script>